#portfolio {
  background: #f6f6f6;
}

#portfolio .project-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#portfolio .portfolio-item {
  width: 18rem;
  height: 27rem;
  margin: 1.5rem 0.5rem;
}

#portfolio .portfolio-item .bg-source {
  right: 1rem;
  bottom: 1rem;
  color: #fff;
}

#portfolio .portfolio-item h5 {
  color: rgb(30, 31, 41);
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

#portfolio .portfolio-item p {
  margin-bottom: 1.5rem;
}

#portfolio .portfolio-item .description {
  color: #333;
  font-size: 0.9rem;
}

#portfolio .portfolio-item .keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  box-shadow: rgba(23, 23, 23, 0.03) 0px 8px 29px 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card .card-img {
  display: block;
  width: 100%;
  height: 12rem;
}

.card .card-body {
  padding: 2rem;
  height: 100%;
}

.card .card-body .card-text {
  line-height: 1.4;
  margin-top: 0.8rem;
}
