#about {
  background: #fff;
}

#about .container {
  padding: 3rem 0;
}

#about .about-img {
  position: relative;
  width: 100%;
  height: 17rem;
  object-fit: cover;
  padding-bottom: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./about-img.jpg") fixed center center;
  background-size: cover;
}

@media (max-width: 768px) {
  #about .about-img img {
    margin-left: 0;
  }
}

#about .about-content {
  background: #fff;
  padding: 3rem;
}

#about .about-title {
  color: #666;
  font-weight: 700;
  font-size: 1.8rem;
}

#about .about-text {
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

#about .skill-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#about .section-description {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem;
  margin: 0 auto;
}

#about .box {
  margin: 1rem 0.5rem;
  flex: 1 1 0;
}

#about .title {
  margin-left: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}
#about .title span {
  position: relative;
}

#about .title span::before {
  width: 1.5rem;
  height: 1.5rem;
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  background-image: url("./building.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#about .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#about .period {
  color: #aaa;
}
