#header {
  background: #111;
}

#header #logo {
  float: left;
}

#header #logo img {
  padding: 0.6rem;
  margin: 0;
  max-height: 2rem;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 2.6rem;
  }
  #header #logo img {
    max-height: 1.5rem;
  }
}

.is-sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
}

#header.is-sticky {
  background: rgba(0, 0, 0, 0.85);
}
#header .nav-container {
  vertical-align: middle;
}

#header .nav-container:after {
  clear: both;
  display: table;
  content: "";
}

/* Nav Menu Essentials */
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 18rem;
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0.5rem 0;
}

/* @media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
} */

/* Nav Meu Styling */
.nav-menu a {
  padding: 0.8rem 1rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover > a,
.nav-menu .menu-active > a {
  color: #03c4eb;
}

.nav-menu ul {
  margin: 0.4rem 0 0 1.5rem;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 2rem 2rem 0 0;
  border: 0;
  background: none;
  font-size: 2.4rem;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}
